@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #ffff;
}

:root{
  --degrade: linear-gradient(90deg, #00F0FF 0%, #5773FF 46.87%, #FF007A 100%);
}

body{
  background-color: #0F0B30;
}

/*---------- HEADER -----------*/
header{
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 90px;
  align-items: center;
  text-align: center;
}

header > p {
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
}

#menu-icon{
  display: none;
  color: black;
}

header .menu-itens{
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 3.1rem;
}

header .user-enter{
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
}

header .user-enter a {
  font-weight: 700;
  text-decoration: none;
}

header .user-enter button{
  background-color: transparent;
  border-radius: 50px;
  border: 1px solid white;
  padding: 0px 10px;
  cursor: pointer;
}

/*--------- SECTION-1 ----------*/

.section-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.section-1 p:nth-child(1){
  font-size: 45px;
  line-height: 70px;
  margin-top: 80px;
}

.section-1 p:nth-child(2){
  background-image: var(--degrade);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 700;
  font-size: 90px;
  line-height: 150px;
  text-align: center;
}

.section-1 p:nth-child(3){
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  max-width: 600px;
}

.section-1 button{
  margin-top: 40px;
  background-color: transparent;
  font-weight: 700;
  font-size: 25px;
  display: flex;
  justify-content: center;
  gap: 20px;
  border-radius: 50px;
  padding: 10px 50px;
  border: 2px solid #fff;
}

.section-1 button img{
  max-width: 50px;
  align-self: center;
}

.section-1 > img {
  margin-top: 120px;
}

/*--------- SECTION-2 ----------*/
.section-2{
  /*max-width: 1200px;*/
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

.section-2 .esquerda, .section-2 .direita{
  max-width: 50%;
}

.section-2 img{
  max-width: 400px;
}

.section-2 p {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  max-width: 700px;
  background-image: var(--degrade);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding-left: 80px;
}

/*----------- SECTION-3 ----------*/

.section-3{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

.section-3 h2 {
  font-weight: 700;
  font-size: 50px;
  margin-top: 150px;
  background-image: var(--degrade);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin-left: 150px;
}

.section-3 > p {
  margin-left: 150px;
  max-width: 500px;
}

.todos-cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1000px;
  margin-left: 150px;
  margin-top: 50px;
  gap: 10px;
}

.cards{
  width: 270px;
  height: 220px;
  background: #1F1B42;
  border: 1px solid white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.cards img{
  max-width: 60px;
  margin-left: 35px;
  margin-top: 40px;
}

.cards p {
  margin-left: 35px;
  font-weight: 700;
  text-align: left;
  margin-top: 15px;
}

/*----------- SECTION-4 ----------*/

.section-4{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-4 p:nth-child(1){
  font-size: 20px;
  margin-top: 150px;
}

.section-4 h3{
  font-size: 60px;
  font-weight: 700;
  background-image: var(--degrade);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
}

.section-4 p:nth-child(3){
  max-width: 550px;
  text-align: center;
  font-size: 18px;
}

.section-4 img{
  margin-top: 70px;
  max-width: 1100px;
}


/*---------- SECTION-5 ----------*/

.section-5{
  max-width: 1200px;
  margin-left: 250px;
  border-left: 3px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.section-5 .esquerda, .section-5 .direita{
  width: 50%;
}

.section-5 .esquerda p:nth-child(1){
  margin-left: 50px;
  font-size: 20px;
}

.section-5 .esquerda p:nth-child(2){
  margin-left: 50px;
  font-weight: 700;
  font-size: 45px;
  background-image: var(--degrade);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.section-5 .esquerda p:nth-child(3){
  max-width: 450px;
  margin-left: 50px;
  font-size: 16px;
  text-align: left;
}

.section-5 .esquerda button{
  border: 2px solid white;
  background-color: transparent;
  border-radius: 20px;
  font-size: 18px;
  padding: 5px 25px;
  margin-left: 50px;
  margin-top: 20px;
}


.section-5 .direita {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-5 .direita img{
  max-width: 400px;
  margin-left: 100px;
}


/*---------- SECTION-6 ----------*/

.section-6{
  max-width: 1200px;
  margin-left: 250px;
  display: flex;
  margin-top: 150px;
}

.section-6 .esquerda, .section-6 .direita{
  width: 50%;
}

.section-6 .esquerda {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-6 .esquerda img{
  max-width: 450px;
  margin-right: 100px;
}

.section-6 .direita{
  border-left: 2px solid #fff;
}

.section-6 .direita p:nth-child(1){
  margin-left: 50px;
  font-size: 20px;
}

.section-6 .direita p:nth-child(2){
  margin-left: 50px;
  font-weight: 700;
  font-size: 45px;
  background-image: var(--degrade);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.section-6 .direita p:nth-child(3){
  max-width: 450px;
  margin-left: 50px;
  font-size: 16px;
  text-align: left;
}

.section-6 .direita button{
  border: 2px solid white;
  background-color: transparent;
  border-radius: 20px;
  font-size: 18px;
  padding: 5px 25px;
  margin-left: 50px;
  margin-top: 20px;
}


/*------------ SECTION-7 -------------*/

.section-7{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.section-7 .container {
  max-width: 900px;
  border: 2px solid #fff;
  border-radius: 20px;
  background: linear-gradient(90deg, rgba(0, 240, 255, 0.21) 0%, rgba(255, 0, 122, 0) 100%);
}

.section-7 .container p:nth-child(1){
  background-image: var(--degrade);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 45px;
  font-weight: 700;
  line-height: 70px;
  padding: 50px 100px 0px 100px;
}

.section-7 .container p:nth-child(2){
  max-width: 850px;
  text-align: start;
  font-size: 14px;
  padding: 20px 100px 0px 100px;
}

.section-7 .container button{
  font-size: 18px;
  padding: 5px 25px;
  margin: 30px 0px 50px 100px;
  border: 2px solid white;
  background-color: transparent;
  border-radius: 20px;
  font-size: 18px;
  padding: 5px 25px;
  font-weight: 700;
}

.section-8{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.section-8 > p {
  font-size: 40px;
  font-weight: 700;
  max-width: 500px;
  background-image: var(--degrade);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
}

.container-satisfacao{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1000px;
  gap: 15px;
  margin-top: 50px;
}

.container-satisfacao .elemento{
  max-width: 320px;
  font-size: 13px;
  border: 2px solid white;
  background-color: transparent;
  border-radius: 20px;
  background: linear-gradient(90deg, rgba(0, 240, 255, 0.21) 0%, rgba(255, 0, 122, 0) 100%);
}

.container-satisfacao .elemento > p{
  padding: 20px 20px 0px 20px;
}

.elemento .foto-client {
  display: flex;
  gap: 10px;
  margin: 20px 0px 20px 20px;
}

.elemento .foto-client img {
  max-width: 40px;
}

.elemento .foto-client .nome-client p:first-child {
  background-image: var(--degrade);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 700;
  font-size: 16px;
}

.elemento .foto-client .nome-client p:last-child{
  font-size: 12px;
}

/*--------- FOOTER----------*/

footer{
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 150px;
}

.esquerda-footer .agrupamento{
  margin-left: 100px;
  max-width: 300px;
}

.esquerda-footer p:first-child{
  background-image: var(--degrade);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 700;
  font-size: 60px;
}

.esquerda-footer .agrupamento p:nth-child(2){
  font-size: 14px
}

.esquerda-footer .agrupamento button{
  border: 2px solid white;
  background-color: transparent;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 700;
  padding: 5px 25px;
  gap: 10px;
  display: flex;
  margin-top: 20px;
}

.esquerda-footer .agrupamento button img{
  max-width: 50px;
  align-self: center;
}

.esquerda-footer .agrupamento .redes-sociais{
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 25px;
  margin-bottom: 100px;
}
  
.esquerda-footer .agrupamento .redes-sociais img{
  max-width: 30px;
}

/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/

/*MEDIA QUERIES*/

@media (max-width: 992px){
  header .menu-itens{
    gap: 2.1rem;
  }

  .cards{
    width: 260px;
    height: 210px;
  }
  
  .cards p {
    margin-left: 30px;
  }

  .section-4 img{
    max-width: 900px;
  }

  .section-5 .direita img, .section-6 .esquerda img{
    max-width: 340px;
  }

  .section-8 .delete{
    display: none;
  }

  .container-satisfacao{
    justify-content: center;
  }
}


@media (max-width: 768px){
  header .menu-itens{
    gap: 1.0rem;
  }

  header nav{
    margin: 0px 0px;
  }

  header .user-enter{
    display: none;
  }
  
  .section-4 img{
    max-width: 700px;
  }

  .section-7 .container {
    max-width: 700px;
  }

  .section-7 .container p:nth-child(1){
    font-size: 40px;
    line-height: 60px;
  }

  .section-5 .direita img, .section-6 .esquerda img{
    display: none;
  }
}


@media (max-width: 576px) {
 #menu-icon{
  display: block;
 }

 header .menu-itens{
  display: none;
  position: absolute;
  width: 100%;
  top: 60px;
  right: 0px;
  background: #e7e7e7;
  z-index: 1000;
  height: 200px;
 }

 #nav.active .menu-itens{
  display: block;
 }

 .section-1 p:nth-child(2){
  font-size: 70px;
  line-height: 70px;
 }

 .section-2 img{
  display: none;
}

.section-2 .direita{
  max-width: 100%;
}

.cards{
  width: 280px;
  height: 220px;
}

.cards p{
  padding-right: 10px;
}

.section-4 img{
  max-width: 500px;
}

.section-5 .esquerda, .section-6 .direita {
  width: 100%;
}

.section-5 .direita, .section-6 .esquerda{
  display: none;
}

.section-7 .container {
  max-width: 500px;
}

.section-7 .container p:nth-child(1){
  font-size: 30px;
  line-height: 45px;
  padding: 50px 80px 0px 80px;
}

.section-7 .container p:nth-child(2){
  max-width: 850px;
  font-size: 14px;
  padding: 20px 80px 0px 80px;
}

.section-7 .container button{
  margin: 30px 0px 50px 80px;
}
}


